# Dependencies
node_modules/

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Cypress environment files
cypress.env.json

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/